---
import Layout from '../layouts/Layout.astro';
import Rubiks from '../components/Rubiks.astro';
import Controls from '../components/Controls.astro';
import Background from '../components/Background.astro';
import "../styles/global.css";

---

<Layout>
	<div class="relative w-full h-screen">
		<Rubiks />
		<Controls />
		<Background />
	</div>
</Layout>
