---
const { 
    label = "button", 
    name = "name"
} = Astro.props;
---
<button id={label} data-label={label} class="transition-all duration-300 bg-[#ffffff] hover:bg-[#EA5863] rounded-sm hover:rounded-md border-1 p-4 m-2 hover:cursor-pointer">
    {name}
</button>
