---
import Button from "./Button.astro"
---

<div class="transition-all duration-300 bottom-5 flex flex-wrap justify-center mx-[5dvw] p-4 bg-[#EA5863] hover:bg-[#ffffff] w-[90dvw] absolute z-1 rounded-sm hover:rounded-lg border-1 border-indigo">
    <div>
        <div>
            <Button label="front" name="F" />
            <Button label="front'" name="F'"/>
            <Button label="back" name="B"/>
            <Button label="back'" name="B'"/>
            <Button label="right" name="R"/>
            <Button label="right'" name="R'"/>
            <Button label="left" name="L"/>
            <Button label="left'" name="L'"/>
            <Button label="up" name="U"/>
            <Button label="up'" name="U'"/>
            <Button label="down" name="D"/>
            <Button label="down'" name="D'"/>
        </div>
        <div>
            <Button label="mix" name="Mix"/>
            <Button label="resolve" name="Resolve"/>
        </div>
    </div>
</div>

<script>
    const labelArray = [
        "front",
        "front'",
        "back",
        "back'",
        "right",
        "right'",
        "left",
        "left'",
        "up",
        "up'",
        "down",
        "down'"
    ];

    for (let i = 0; i < labelArray.length; i++) {
        const button = document.getElementById(labelArray[i]);
        const label = button?.dataset.label || "not found";

        button?.addEventListener("click", () => {
            const event = new CustomEvent(label);
            window.dispatchEvent(event);
        });
    }

    const mix = document.getElementById("mix");
    mix?.addEventListener("click", () => {
        const event = new CustomEvent("mix");
        window.dispatchEvent(event);
    })

</script>