---
import Button from "./Button.astro"
---

<div class="top-0 left-0 bg-emerald-950 w-[25dvw] h-dvh absolute z-1 ">
    <p>controls</p>
    <Button label="front" />
    <Button label="front'" />
    <Button label="back"/>
    <Button label="back'"/>
    <Button label="right" />
    <Button label="right'" />
    <Button label="left" />
    <Button label="left'" />
    <Button label="up" />
    <Button label="up'" />
    <Button label="down" />
    <Button label="down'" />
</div>

<script>
    const labelArray = [
        "front",
        "front'",
        "back",
        "back'",
        "right",
        "right'",
        "left",
        "left'",
        "up",
        "up'",
        "down",
        "down'"
    ];

    for (let i = 0; i < labelArray.length; i++) {
        const button = document.getElementById(labelArray[i]);
        const label = button?.dataset.label || "not found";

        button?.addEventListener("click", () => {
            const event = new CustomEvent(label);
            window.dispatchEvent(event);
        });
    }

</script>