---
import Button from "./Button.astro"
---

<div class="top-0 left-0 w-dvw h-dvh absolute z-1 ">
    <p>interface</p>
    <Button label="front" />
    <Button label="right" />
    <!-- <button id="front">front</button> -->
</div>

<script>
    // const button = document.getElementById('front');

    // button?.addEventListener('click', () => {
    //     const front = new CustomEvent('front');
    //     window.dispatchEvent(front);
    // })
</script>